<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinematic Video Generation</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico.jpg">
    
</head>
<body>
    <h1>Cinematic Video Generation</h1>
    <form action="/generate_video" method="post">
        <label1>Please enter your text prompt:</label>
        <input type="text" id="text_prompt" name="text_prompt" required>
        <button type="submit">Generate Video</button>
    </form>
    <div id="video_container"></div>
    <!-- <script src="../static/js/custom.js"></script> -->
</body>
</html>
